body {
    background-color: #F8B195;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    text-align: center;
color: white;
size: 100px;
background-color: black;
border-radius: 16px;
}

img {
    margin-bottom: 50px;
    border: 3px solid gray;
    border-radius: 10px;
}
ul li:hover {
    background-color: rgb(157, 232, 245);
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 12px;
    font-size: 18px;
}

#fruit-stand {
    border: 3px solid white;
    border-radius: 40px;
    width: 50%;
    background-color: lightsteelblue
    
}
