@keyframes back-glow {
    0% {
        filter: hue-rotate(0deg);
    } 90% {
        filter: hue-rotate(0deg);
    } 100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes back-move {
	from {
        background-position: 0 0;
    } to {
        background-position: 100% 100%;
    }
}

body {
    display: block;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    animation: back-move 60s linear infinite;
}

#container-main {
    display: flex;
    width: 666px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    line-height: 0;
    font-size: 2rem;
    animation: back-glow 10s forwards infinite;
}