body {
    background-color: turquoise;
    width: 600px;
    padding: 10px;
    margin: 10px;
}

#big-box {
    background-color: yellowgreen;
    border: 5px solid black;
    border-radius: 10px;
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

table {
    background-color: tomato;
    width: 590px;
    z-index: -1
}

td {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}

.images {
    width: 150px;
}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}

img {
    width: 50px;
    padding: 10px;
}