
body{
    background-color: grey;
    
}

h1 {
    color: black;
    text-align: center;
    font-size: 55px;
    font-style: oblique;
    text-decoration: underline;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    background-color: rgb(135, 163, 175);
}
#fruit-list {
    background-color: rgb(23, 112, 153); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 240;
}
h2{
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: underline;
}
div {   
    text-align: center;
    border-radius: 15px;
    background-color: rgb(135, 163, 175);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 20px;
    margin: 10px;
}
